@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Onest', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 850px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  height: calc(99% - 10px);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup__content {
  max-width: 850px;
  margin: 0 auto;
}

.news-title {
  font-family: 'Unbounded', sans-serif;
  margin-top: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #423f3f;

  @media (max-width: 656px) {
    font-size: 40px;
    line-height: 46px;
  }

  @media (max-width: 550px) {
    font-size: 35px;
    line-height: 36px;
  }

  @media (max-width: 500px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.news-date {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #cfcfcf;
  text-decoration: underline;
}

.news-text {
  max-width: 600px;
  margin-top: 16px;
  color: #717070;
  line-height: 20px;
}

.link {
  color: #ca2250;
}

.news-img {
  width: 100%;
  border-radius: 20px;
  margin-top: 32px;
}

.news-h2 {
  margin-top: 32px;
  font-family: 'Unbounded', sans-serif;
  color: #423f3f;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 32px;

  @media (max-width: 570px) {
    font-size: 35px;
  }

  @media (max-width: 500px) {
    font-size: 30px;
  }

  @media (max-width: 450px) {
    font-size: 25px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ca2250;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
